version: '3.7'
services:
  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - ./scripts/local_db_franchise.js:/docker-entrypoint-initdb.d/mongo-init.js
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
  